body {
    background-color:#FFFFFF;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    font-size:10pt;
}

div.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 8pt;
}

div.item {
    margin-left: 20px;
    margin-bottom: 5px;
    width: 100%;
    page-break-inside: avoid;
}

span.label {
    font-weight: bold;
}

p.heading {
    font-size: 14pt;
}

p.name {
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: bold;
    page-break-after: avoid;
}

p.note {
    margin-top: 0px;
}

table.attributes {
    margin-left:20px;
    border: 0px;
    padding: 0px;
    width: 100%;
    font-size:10pt;
    page-break-before: avoid;
}

td.attribute {
    vertical-align: top;
    width: 33%;
}

td.choice {
    text-align: right;
}

td.level1 {
    padding-left: 15px;
}

td.level2 {
    padding-left: 30px;
}
